@import './base/normalize.scss';
@import './base/reset.scss';

* {
    box-sizing: border-box;
    line-height: 1.6;
}

html {
    font-family: 'Montserrat', 'Open Sans', sans-serif;
    font-size: 12px;
    @media screen and (min-width: 992px) {
        font-size: 14px;
    }
}

body {
    background-image: url("./assets/background.jpg");
    background-size: 150%;
    background-repeat: no-repeat;
    background-position-x: -70px;
    position: relative;
}

// body::after {
//     position: absolute;
//     left: 0;
//     right: 0;
//     top: 18%;
//     content: "";
//     z-index: -1;
//     background: linear-gradient(to bottom, rgb(109, 197, 209) 0%, rgb(161, 202, 108) 70%, rgb(255, 255, 255) 100%);
//     bottom: 0;
// }

ul {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100%;
    width: 100%;
}

li {
    list-style: none;
    color: #25387c;
    text-align: center;
    padding: calc(2vw + 1.5rem);
}

nav {
    background: #82c1ed;
    height: 80px;
    position: fixed;
    top: 0;
    width: 100%;
}

main {
    margin-top: 8rem;
    background: rgba(255, 255, 255, 0.8);
    padding: 3rem;
    margin-right: 10%;
    margin-left: 10%;
}

h1 {
    font-family: 'Salsa', cursive;
    font-size: calc(2rem + 2vw);
    text-align: center;
}

h2 {
    margin: 0.75rem 0;
    font-size: 1.5rem;
    text-align: center;
}

p {
    margin: auto;
}

.menu-container {
    display: flex;
    flex-wrap: wrap;
}

.menu-item {
    width: 100%;
    flex-direction: column;
    
    img {
        width: 100%;
        object-fit: cover;
        height: calc(200px + 2rem);
    }
    
    @media screen and (min-width: 600px) {
        flex-direction: column;
        width: 50%;
        padding: 1rem;
    }

    @media screen and (min-width: 992px) {
        width: calc(100%/3) 
    }
}

.contact-option {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
}

